.banner{
    h2{
        text-align: center;
        justify-content: center;
        padding:30px;
        font-size: 40px;
    }

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    p{
        margin: 30px 120px;
        background-color: #D74E09;
        border: 1px solid #000;
        text-align: justify;
    }


  }


  

   
