
.contenido{
    .banner{

        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            clip-path: polygon(11% 93%, 0 100%, 0 0, 100% 0, 100% 100%, 88% 94%, 77% 93%, 65% 95%, 54% 90%, 41% 94%, 24% 97%);
        }



    }

    .enunciado{
        h2{
            text-align: center;
            justify-content: center;
            padding: 40px;
            font-size: 40px;
        }

        p{
            margin: 30px 51px;
            background-color: #D74E09;
            border: 1px solid #000;
            text-align: justify;
        }
    
    }

}







  

   
