
.footer-estructura {
    background-color: #2d2a30;
    clip-path: polygon(27% 10%, 42% 17%, 51% 8%, 63% 16%, 71% 8%, 84% 17%, 91% 8%, 100% 0, 100% 100%, 0 98%, 0 0, 12% 14%);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 8px;
    padding-top: 105px;


    h3 {
        color: #ffffff;
        font-size: 30px;
        margin: 0;

        span {
            color: #e0ac1c;
        }
    }


    .footer-costados {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }

    .footer-centro {
        width: 36%;
        display: inline-block;
        vertical-align: top;
    }

    .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;

        a{
            text-decoration: none;
            color: #ffffff;
        }
    }

    @media (max-width: 768px) {
        .footer-costados, .footer-centro {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-centro i {
            margin-left: 0;
        }
    }
    
    @media (max-height:768px) {
        footer {
            position: static;
            bottom: 0;
        }
        
    }


}
  

  
  

  

  

  


  
