button{
    @include botones;
}

button span{
    background-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    width: 100%;

}

button:hover span{
    background: none;
}

button:active{
    transform: scale(0.9);
}


